<h1>Searching for - <%= @search_term %></h1>
<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Social Rank</th>
    </tr>
    <% @recipes.each do |recipe| %>
        <tr>
            <td><%= link_to image_tag(recipe["image_url"], size: "100"), recipe["f2f_url"]%></td>
            <td><%= link_to sanitize(recipe["title"]), recipe["f2f_url"]%></td>
            <td class=rank><%= recipe["social_rank"]%></td>
        </tr>
    <%end%>
 </table>
 <p>Powered By Food2Fork.com</p>