table{
	border-collapse: collapse;
}
td{
	left-padding: 80px;
	text-alignment: center;
}
h1{
	color: lightblue;
}
a {
	color: hotpink;
	text-decoration: none;
}
.rank{
	border-radius: 25px;
	border: 2px solid #73AD21;
	color: blue;
	background-color: lightgreen;
}
th{
	background-color: lightblue;
}
td{
	height: 50px;
}